<section class="bg-gray" id="dates">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading">Awards</h2>
                <hr class="primary">
                <p class="text-left"><b>Best Spotlight awarded to</b> Shir Amir, Tali Dekel, Shai Bagon, Yossi Gandelsman, "On the Effectiveness of ViT Features as Local Semantic Descriptors".</p>
                <p class="text-left"><b>Best Poster awarded to</b> Dawit Mureja Argaw, Junsik Kim, Francois Rameau, Jae Won Cho, In So Kweon, "Optical Flow Estimation from a Single Motion-blurred Image".</p>

            </div>
        </div>
    </div>
</section>
