<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-left">
                <h3>About the Workshop</h3>
                <p>Motion is an important cue for many perception tasks from navigation to scene understanding. This workshop will explore various ways of representing and extracting motion information, and provide a venue to exchange ideas about the use of motion in Computer Vision.</p>
                <p>We invite paper contributions discussing temporal and motion representations, their applications, evaluation metrics, and benchmarks that will help understand and shape the future of temporal and motion representations and its role in the field of computer vision and other related areas.</p>
            </div>
            <div class="col-sm-6 text-left">
                <h3>    </h3>
                <h3>    </h3>
                <p>The workshop will focus on topics including (but not limited to):</p>
                    <ul type = "square">
                    <li>Motion representations (optical flow, stereo, scene flow, and alternatives)</li>
                    <li>Benchmarks involving motion estimation or motion understanding</li>
                    <li>Multi-frame and long term motion representations  </li>
                    <li>Applications of motion estimation and representations and the impact on other computer vision problems (e.g. tracking, action classification, video captioning, etc)</li>
                    <li>Motion representations in other applications, such as graphics, autonomous driving, robotics, medical imaging, animal tracking etc</li>
                    <li>Event cameras and applications of event-based representations</li>
                    </ul>  
                <a href="#submission" class="btn btn-default btn-xl">Instructions for Authors</a>         
            </div>
        </div>
    </div>    
</section>
