<section class="bg-gray" id="dates">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading">Important Dates</h2>
                <hr class="primary">
                <p class="text-left">
                    <ul type = "square">
                    <li class="text-left">Paper submission deadline: August 26th, 2022.</li>
                    <li class="text-left">Notification to authors: September 26th, 2022.</li>
                    <li class="text-left">Finalized workshop program: October 10th, 2022.</li>
                    <li class="text-left">Workshop: During ECCV (Oct. 23-27, 2022); exact date TBD.</li>                    
                    </ul> 
                </p>
                <p class="text-left"><b>Hybrid workshop, with both in-person and virtual attendance option.</b></p>
            </div>
        </div>
    </div>
</section>
