<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Workshop on What is Motion for?</h1>
            <hr>
            <p>In conjunction with ECCV 2022</p>
            <!-- <a href="#about" class="btn btn-primary btn-xl page-scroll">In conjunction with ECCV 2022</a> -->
            <a href="https://eccv2022.ecva.net/" class="portfolio-box">
                <img src="img/output-onlinepngtools.png" class="img-responsive" alt="">
                <!-- <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            In conjunction with ECCV 2022
                        </div>
                        <div class="project-name">
                            Tel-Aviv, Israel
                        </div>
                    </div>
                </div> -->
            </a>
        </div>
    </div>
</header>
