<section class="bg-gray" id="organizers">

    <div class="container">      
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Organizers</h2>
                <hr class="primary">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row wow fadeInRightBig"  data-animation-delay="200">
        
        <div class="col-sm-3 wow fadeInRightBig"  data-animation-delay="200">               
            <center><img  class="img-responsive img-rounded" style="border-radius: 50%" height="200" width="200" src="img/portfolio/deqingsun.jpeg" alt=""></center>
            <a href="https://deqings.github.io/"><h4 class="section-heading"><center>Deqing Sun</center></h4></a>
            <h5 class="section-heading"><center><i>Google</i></center></h5>
        </div>
        
        <div class="col-sm-3 wow fadeInRightBig"  data-animation-delay="">               
            <center><img  class="img-responsive img-rounded" style="border-radius: 50%" height="200" width="200" src="img/portfolio/fatma_circular.png" alt=""></center>
            <a href="https://mysite.ku.edu.tr/fguney/"><h4 class="section-heading"><center>Fatma G&#252ney</center></h4></a>
            <h5 class="section-heading"><center><i>Koç University</i></center></h5>
        </div>
        
        <div class="col-sm-3 wow fadeInRightBig"  data-animation-delay="200">               
            <center><img  class="img-responsive img-rounded" style="border-radius: 50%" height="200" width="200" src="img/portfolio/portrait_hzjiang_circular.png" alt=""></center>
            <a href="https://jianghz.me/"><h4 class="section-heading"><center>Huaizu Jiang</center></h4></a>
            <h5 class="section-heading"><center><i>Northeastern University</i></center></h5>
        </div>
        
        <div class="col-sm-3 wow fadeInRightBig"  data-animation-delay="200">               
            <center><img  class="img-responsive img-rounded" style="border-radius: 50%" height="200" width="200" src="img/portfolio/fitsum.jpeg" alt=""></center>
            <a href="https://fitsumreda.github.io/"><h4 class="section-heading"><center>Fitsum Reda</center></h4></a>
            <h5 class="section-heading"><center><i>Google</i></center></h5>
        </div>
        
        </div>
        
        <div class="row wow fadeInRightBig"  data-animation-delay="200">
        
            <div class="col-sm-3 wow fadeInRightBig"  data-animation-delay="200">               
                <center><img  class="img-responsive img-rounded" style="border-radius: 50%" height="200" width="200" src="img/portfolio/laura.webp" alt=""></center>
                <a href="https://laurasevilla.me/"><h4 class="section-heading"><center>Laura Sevilla</center></h4></a>
                <h5 class="section-heading"><center><i>University of Edinburgh</i></center></h5>
            </div>
            
            <div class="col-sm-3 wow fadeInRightBig"  data-animation-delay="">               
                <center><img  class="img-responsive img-rounded" style="border-radius: 50%" height="200" width="200" src="img/portfolio/charles_circular.jpeg" alt=""></center>
                <a href="https://scholar.google.com/citations?user=LQvi5XAAAAAJ&hl=en"><h4 class="section-heading"><center>Charles Herrmann</center></h4></a>
                <h5 class="section-heading"><center><i>Google</i></center></h5>
            </div>
            
            <div class="col-sm-3 wow fadeInRightBig"  data-animation-delay="200">               
                <center><img  class="img-responsive img-rounded" style="border-radius: 50%" height="200" width="200" src="img/portfolio/pia_circular.png" alt=""></center>
                <a href="https://people.cs.umass.edu/~pbideau/"><h4 class="section-heading"><center>Pia Bideau</center></h4></a>
                <h5 class="section-heading"><center><i>Technical University Berlin</i></center></h5>
            </div>
            <div class="col-sm-3 wow fadeInRightBig"  data-animation-delay="200">               
                <center><img  class="img-responsive img-rounded" style="border-radius: 50%" height="200" width="200" src="img/portfolio/jonas.png" alt=""></center>
                <a href="http://people.csail.mit.edu/jwulff/"><h4 class="section-heading"><center>Jonas Wulff</center></h4></a>
                <h5 class="section-heading"><center><i>Stealth startup</i></center></h5>
            </div>            
        </div>
        <div class="row wow fadeInRightBig"  data-animation-delay="200">
        <div class="col-sm-3 wow fadeInRightBig"  data-animation-delay="200">               
            <center><img  class="img-responsive img-rounded" style="border-radius: 50%" height="200" width="200" src="img/portfolio/davide.jpg" alt=""></center>
            <a href="https://www.davidemoltisanti.com/research/"><h4 class="section-heading"><center>Davide Moltisanti</center></h4></a>
            <h5 class="section-heading"><center><i>University of Edinburgh</i></center></h5>
        </div>
    </div>
    </div>

</section>