<section class="bg-gray" id="program">
    <div class="container">
        <div class="row">
            <!-- <div class="col-lg-12 text-center">
                <h3 class="section-heading">Workshop Program</h2>
                <hr class="primary">
                <p class="text-left">Full day workshop. Schedule TBD.</p>
            </div> -->
            <div class="row no-gutter">
                <div class="col-lg col-lg-offset-0  align-center" style="display: flex; justify-content: center; font-size: 18px">
                    <table>
                      <tbody>
                        <tr>
                            <td style="min-width: 70px"><b>IDT | CST | EDT </b></td>
                            <td colspan="0" style="min-width: 170px"><b>&nbsp;&nbsp; Description</b></td>
                            <td colspan="0" style=""><b>&nbsp;&nbsp; Speaker</b></td>
                        </tr>
                        <tr>
                            <td>08:45 | 13:45 | 01:45 </td>
                            <td>&nbsp;&nbsp; Opening Remarks</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>09:00 | 14:00 | 02:00 </td>
                            <td>&nbsp;&nbsp; Invited Speaker 1: </td>
                            <td colspan="0"><a class="page-scroll" href="#S1">&nbsp;&nbsp; Andrew Owens</a></td>
                        </tr>
                        <tr>
                            <td>09:30 | 14:30 | 02:30 </td>
                            <td>&nbsp;&nbsp; Invited Speaker 2:</td>
                            <td><a class="page-scroll" href="#S2">&nbsp;&nbsp; Angjoo Kanawaza</a></td>
                        </tr>
                        <tr>
                            <td>10:00 | 15:00 | 03:00 </td>
                            <td>&nbsp;&nbsp; Invited Speaker 3:</td>
                            <td colspan="2"><a class="page-scroll" href="#S3">&nbsp;&nbsp; Weidi Xie</a></td>
                        </tr>
                        <tr>
                            <td>10:30 | 15:30 | 03:30 </td>
                            <td>&nbsp;&nbsp; Poster Session + Break</td>
                            <td colspan="2"><a class="page-scroll" href="">&nbsp;&nbsp; </a></td>
                        </tr>
                        
                        <tr>
                            <td>11:30 | 16:30 | 04:30 </td>
                            <td>&nbsp;&nbsp; Invited Speaker 4: </td>
                            <td colspan="0"><a class="page-scroll" href="#S4">&nbsp;&nbsp; Jia Deng </a></td>
                        </tr>
                        <tr>
                            <td>12:00 | 15:00 | 05:00 </td>
                            <td>&nbsp;&nbsp; Spotlight Paper Talks: </td>
                            <td colspan="0"><a class="page-scroll" href="#S5">&nbsp;&nbsp; </a></td>
                        </tr>
                        
                        <tr>
                            <td>12:00 | 15:00 | 05:00 </td>
                            <td>&nbsp;&nbsp; Lunch: </td>
                            <td colspan="0"><a class="page-scroll" href="#S5">&nbsp;&nbsp; Lunch</a></td>
                        </tr>
                        <tr>
                            <td>13:00 | 16:00 | 06:00 </td>
                            <td>&nbsp;&nbsp; Invited Speaker 5: </td>
                            <td colspan="0"><a class="page-scroll" href="#S5">&nbsp;&nbsp; Tali Dekel</a></td>
                        </tr>
                        <tr>
                            <td>13:30 | 16:30 | 06:30 </td>
                            <td>&nbsp;&nbsp; Poster Session + Break: </td>
                            <td colspan="0"><a class="page-scroll" href="#S5">&nbsp;&nbsp; </a></td>
                        </tr>
                        <tr>
                            <td>14:30 | 17:30 | 07:30 </td>
                            <td>&nbsp;&nbsp; Invited Speaker 6: </td>
                            <td colspan="0"><a class="page-scroll" href="#S5">&nbsp;&nbsp; Dava Ramanan</a></td>
                        </tr>
                        <tr>
                            <td>15:00 | 18:00 | 08:00 </td>
                            <td>&nbsp;&nbsp; Invited Speaker 7: </td>
                            <td colspan="0"><a class="page-scroll" href="#S5">&nbsp;&nbsp; Ce Liu</a></td>
                        </tr>
                        <tr>
                            <td>15:30 | 18:30 | 08:30 </td>
                            <td>&nbsp;&nbsp; Panel: </td>
                            <td colspan="0"><a class="page-scroll" href="#S5">&nbsp;&nbsp; Ce Liu, Weidi Xie, Andrew Owens</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
