<section class="bg-gray" id="program">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading">Workshop Program</h2>
                <hr class="primary">
                <p class="text-center"><b>Monday, October 24, 2022</b>. A full-day hybrid workshop.</p>
                <div class="row no-gutter">
                    <div class="col-lg col-lg-offset-0  align-center" style="display: flex; justify-content: center; font-size: 18px">
                        <table>
                          <tbody>
                            <tr>
                                <td style="min-width: 70px"><b>IDT </b></td>
                                <td style="min-width: 70px"><b>CST </b></td>
                                <td style="min-width: 70px"><b>EDT </b></td>
                                <td style="min-width: 70px"><b>Duration </b></td>
                                <td colspan="0" style="min-width: 170px"><b>&nbsp;&nbsp; Description</b></td>
                                <td colspan="0" style=""><b>&nbsp;&nbsp; Speaker</b></td>
                            </tr>
                            <!-- <tr>
                                <td>08:45 </td>
                                <td>13:45 </td>
                                <td>01:45 </td>
                                <td>15 mins </td>
                                <td>&nbsp;&nbsp; Opening Remarks</td>
                                <td colspan="0">&nbsp;&nbsp;<a class="page-scroll" href="#organizers">Organizers</a></td>
                                <td></td>
                            </tr> -->
                            <tr>
                                <td>09:00 </td>
                                <td>14:00 </td>
                                <td>02:00 </td>
                                <td>30 mins </td>
                                <td>&nbsp;&nbsp; Invited Speaker 1: </td>
                                <td colspan="0">&nbsp;&nbsp;<a class="page-scroll" href="https://andrewowens.com/">Andrew Owens</a></td>
                            </tr>
                            <tr>
                                <td>09:30 </td>
                                <td>14:30 </td>
                                <td>02:30 </td>
                                <td>30 mins </td>                            
                                <td>&nbsp;&nbsp; Invited Speaker 2:</td>
                                <td>&nbsp;&nbsp;<a class="page-scroll" href="https://www2.eecs.berkeley.edu/Faculty/Homepages/kanazawa.html">Angjoo Kanawaza</a></td>
                            </tr>
                            <tr>
                                <td>10:00 </td>
                                <td>15:00 </td>
                                <td>03:00 </td>
                                <td>30 mins </td>                            
                                <td>&nbsp;&nbsp; Invited Speaker 3:</td>
                                <td colspan="2">&nbsp;&nbsp;<a class="page-scroll" href="https://weidixie.github.io/">Weidi Xie</a></td>
                            </tr>
                            <tr>
                                <td>10:30 </td>
                                <td>15:30 </td>
                                <td>03:30 </td>
                                <td>1 hr </td>                            
                                <td>&nbsp;&nbsp; Poster Session + Break</td>
                                <td colspan="2"><a class="page-scroll" href="">&nbsp;&nbsp; </a></td>
                            </tr>
                            
                            <tr>
                                <td>11:30</td>
                                <td>16:30 </td>
                                <td>04:30 </td>
                                <td>30 mins </td>                                                                                    
                                <td>&nbsp;&nbsp; Invited Speaker 4: </td>
                                <td colspan="0">&nbsp;&nbsp;<a class="page-scroll" href="https://www.cs.princeton.edu/~jiadeng/">Jia Deng </a></td>
                            </tr>
                            <tr>
                                <td>12:00 </td>
                                <td>15:00 </td>
                                <td>05:00 </td>
                                <td>15 mins </td>                                                                                    
                                <td>&nbsp;&nbsp; Spotlight Paper Talks: </td>
                                <td colspan="0"><a class="page-scroll" href="#S5">&nbsp;&nbsp; </a></td>
                            </tr>
                            
                            <tr>
                                <td>12:00 </td>
                                <td>15:00 </td>
                                <td>05:00 </td>
                                <td>1 hr </td>                                                                                                                
                                <td>&nbsp;&nbsp; Lunch: </td>
                                <td colspan="0"><a class="page-scroll" href="#S5">&nbsp;&nbsp;</a></td>
                            </tr>
                            <tr>
                                <td>13:00 </td>
                                <td>16:00 </td>
                                <td>06:00 </td>
                                <td>30 mins </td>                                                                                                                
                                <td>&nbsp;&nbsp; Invited Speaker 5: </td>
                                <td colspan="0">&nbsp;&nbsp;<a class="page-scroll" href="https://www.weizmann.ac.il/math/dekel/">Tali Dekel</a></td>
                            </tr>
                            <tr>
                                <td>13:30 </td>
                                <td>16:30 </td>
                                <td>06:30 </td>
                                <td>1 hr </td>                                                                                                                
                                <td>&nbsp;&nbsp; Poster Session + Break: </td>
                                <td colspan="0"><a class="page-scroll" href="#S5">&nbsp;&nbsp; </a></td>
                            </tr>
                            <tr>
                                <td>14:30 </td>
                                <td>17:30 </td>
                                <td>07:30 </td>
                                <td>30 mins </td>                                                                                                                
                                <td>&nbsp;&nbsp; Invited Speaker 6: </td>
                                <td colspan="0">&nbsp;&nbsp;<a class="page-scroll" href="https://www.cs.cmu.edu/~deva/">Dava Ramanan</a></td>
                            </tr>
                            <tr>
                                <td>15:00 </td>
                                <td>18:00 </td>
                                <td>08:00 </td>
                                <td>30 mins </td>                                                                                                                
                                <td>&nbsp;&nbsp; Invited Speaker 7: </td>
                                <td colspan="0">&nbsp;&nbsp;<a class="page-scroll" href="http://people.csail.mit.edu/celiu/">Ce Liu</a></td>
                            </tr>
                            <tr>
                                <td>15:30 </td>
                                <td>18:30 </td>
                                <td>08:30 </td>
                                <td>1 hr </td>                                                                                                                                            
                                <td>&nbsp;&nbsp; Panel: </td>
                                <td colspan="0">&nbsp;&nbsp;<a class="page-scroll" href="http://people.csail.mit.edu/celiu/">Ce Liu</a>,&nbsp;<a class="page-scroll" href="https://weidixie.github.io/">Weidi Xie</a>,&nbsp;<a class="page-scroll" href="https://andrewowens.com/">Andrew Owens</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>                
            </div> 
        </div>
    </div>
</section>
