<section class="bg-gray" id="speakers">

    <div class="container">      
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Speakers</h2>
                <hr class="primary">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row wow fadeInRightBig"  data-animation-delay="200">
        
        <div class="col-sm-3 wow fadeInRightBig"  data-animation-delay="200">               
            <center><img  class="img-responsive img-rounded" style="border-radius: 50%" height="200" width="200" src="img/portfolio/andrew.jpeg" alt=""></center>
            <a href="https://andrewowens.com/"><h4 class="section-heading"><center>Andrew Owens</center></h4></a>
            <h5 class="section-heading"><center><i>Assistant Professor, University of Michigan</i></center></h5>
        </div>
        
        <div class="col-sm-3 wow fadeInRightBig"  data-animation-delay="">               
            <center><img  class="img-responsive img-rounded" style="border-radius: 50%" height="200" width="200" src="img/portfolio/angjoo.jpeg" alt=""></center>
            <a href="https://www2.eecs.berkeley.edu/Faculty/Homepages/kanazawa.html"><h4 class="section-heading"><center>Angjoo Kanazawa</center></h4></a>
            <h5 class="section-heading"><center><i>Assistant Professor, University of California, Berkeley</i></center></h5>
        </div>
        
        <div class="col-sm-3 wow fadeInRightBig"  data-animation-delay="200">               
            <center><img  class="img-responsive img-rounded" style="border-radius: 50%" height="200" width="200" src="img/portfolio/CeLiu.jpeg" alt=""></center>
            <a href="http://people.csail.mit.edu/celiu/"><h4 class="section-heading"><center>Ce Liu</center></h4></a>
            <h5 class="section-heading"><center><i>Chief Architect for Computer Vision, Microsoft Azure AI</i></center></h5>
        </div>
        
        <div class="col-sm-3 wow fadeInRightBig"  data-animation-delay="200">               
            <center><img  class="img-responsive img-rounded" style="border-radius: 50%" height="200" width="200" src="img/portfolio/deva_ramanan_circular.jpeg" alt=""></center>
            <a href="https://www.cs.cmu.edu/~deva/"><h4 class="section-heading"><center>Deva Ramanan</center></h4></a>
            <h5 class="section-heading"><center><i>Professor, Carnegie Mellon University</i></center></h5>
        </div>
        
        </div>
        
        <div class="row wow fadeInRightBig"  data-animation-delay="200">
        
            <div class="col-sm-3 wow fadeInRightBig"  data-animation-delay="200">               
                <center><img  class="img-responsive img-rounded" style="border-radius: 50%" height="200" width="200" src="img/portfolio/jiadeng.jpeg" alt=""></center>
                <a href="https://www.cs.princeton.edu/~jiadeng/"><h4 class="section-heading"><center>Jia Deng</center></h4></a>
                <h5 class="section-heading"><center><i>Assistant Professor, Princeton University</i></center></h5>
            </div>
            
            <div class="col-sm-3 wow fadeInRightBig"  data-animation-delay="">               
                <center><img  class="img-responsive img-rounded" style="border-radius: 50%" height="200" width="200" src="img/portfolio/TaliDekel_w_circular.jpeg" alt=""></center>
                <a href="https://www.weizmann.ac.il/math/dekel/"><h4 class="section-heading"><center>Tali Dekel</center></h4></a>
                <h5 class="section-heading"><center><i>Assistant Professor, Weizmann Institute & Research Scientist, Google</i></center></h5>
            </div>
            
            <div class="col-sm-3 wow fadeInRightBig"  data-animation-delay="200">               
                <center><img  class="img-responsive img-rounded" style="border-radius: 50%" height="200" width="200" src="img/portfolio/weidi_photo.png" alt=""></center>
                <a href="https://weidixie.github.io/"><h4 class="section-heading"><center>Weidi Xie</center></h4></a>
                <h5 class="section-heading"><center><i>Assistant Professor, Shanghai Jiao Tong University</i></center></h5>
            </div>
        </div>
    </div>

</section>