<section class="bg-gray" id="submission">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading">Instructions for Authors</h2>
                <hr class="primary">
                <p class="text-left">We will accept submissions in two formats:</p>
                <p class="text-left">
                    <ul type = "square">
                    <li class="text-left">Previously published papers (up to 12 pages in ECCV submission format) representing work that is relevant to the workshop and has been published in a peer-reviewed venue before. These submissions will be checked for relevance to the workshop, but will not undergo a complete review, and will not be published in the workshop proceedings.</li>
                    <li class="text-left">Novel works and ideas in the form of full papers  (up to 12 pages in ECCV submission format)  or extended abstracts (up to 4 pages, no format will be given preference over the other) representing novel work that has not been previously published or accepted for publication in a peer-reviewed venue. These submissions will undergo double-blind review, and authors of accepted works will have the option to have their work included in the ECCV workshop proceedings. Note that if you want to re-submit your paper to a future Computer Vision conference, the length should not exceed 4 pages including citations.</li>
                    </ul> 
                </p>
                <p class="text-left">
                Accepted papers will be presented as posters/short online presentations, and the authors of the best paper will be invited to give an oral presentation. The workshop website will provide links to the accepted papers. Authors of novel and previously unpublished papers will have the option to have their papers included in the ECCV workshop proceedings.
                </p>
                <p class="text-left">
                Papers should be submitted via CMT, at the following URL: <a href="https://cmt3.research.microsoft.com/WIMF2022"> https://cmt3.research.microsoft.com/WIMF2022 </a>
                </p>
                <p class="text-left"><b>Dual submission policy</b>: Please do not submit work for peer review to two workshops/conferences simultaneously.</p>
            </div>
        </div>
    </div>
</section>
